<div class="container">
  <header>
    <strong><span>YT</span>DESK</strong>
    <nav>
      <ul>
        <li><img src="./assets/btn-min.svg" id="min" (click)="minimizeWindow()" class="src"></li>
        <li><img src="./assets/btn-close.svg" id="close" (click)="closeWindow()" class="src"></li>
      </ul>
    </nav>
  </header>

  <input type="text" class="text" placeholder="Channel Username" value="eIQh02xuVw4">

  <main>
    <ng-container *ngFor="let channel of channelInfo.items">
      <figure>
        <img [src]="channel.snippet.thumbnails.default.url">
             <figcaption>
               {{channel.snippet.title}}
             </figcaption>
      </figure>

      <div class="stats">
        <strong>{{channel.statistics.subscriberCount | number}}</strong>
        <span>Subscribers</span>
      </div>
    </ng-container>
  </main>
</div>
